<nav class="float-nav-panel">
    <div class="float-nav-panel_menu float-nav-panel_menu--active">
        <a routerLink="/Home" routerLinkActive="active" class="float-nav-panel_menu-content">
            <i class="fa fa-home"></i>
            Home
        </a>
    </div>
    <div class="float-nav-panel_menu">
        <a routerLink="/About" routerLinkActive="active" class="float-nav-panel_menu-content">
            <i class="fa fa-user"></i>
            About
        </a>
    </div>
    <div class="float-nav-panel_menu">
        <a routerLink="/Services" routerLinkActive="active" class="float-nav-panel_menu-content">
            <i class="fa fa-list"></i>
            Services
        </a>
    </div>

    <div class="float-nav-panel_menu">
        <a routerLink="/Portfolio" routerLinkActive="active" class="float-nav-panel_menu-content">
            <i class="fa fa-briefcase"></i>
            Portfolio
        </a>
    </div>
    <div class="float-nav-panel_menu">
        <a routerLink="/Contact" routerLinkActive="active" class="float-nav-panel_menu-content">
            <i class="fa fa-comments"></i>
            Contact
        </a>
    </div>
</nav>