<section class="home section">
    <div class="container d-flex align-items-center justify-content-center">
        <div class="row">
            <div class="home-info pl-15">
                <h3 class="title">
                    Hello, my name is <span class="name">Mitulkumar Patel</span>
                </h3>
                <h3 class="profession">I' m <span class="typeeffect">Software Developer, Web Designer, Front-End
                        Developer, Angular Developer</span>
                    <strong class="text-slider"></strong>
                </h3>
                <p>Well-rounded and creative software developer with 3 years & 8 months sexperience of participating in
                    all phases of the project lifecycle in various Agile environments.
                </p>
                <a href="#contact" class="btn hire-me">Hire Me</a>
            </div>
            <div class="home-img pl-15">
                <!-- <img src="../../../assets/img/mypic.png" class="responsive" alt="MitulSP"> -->
                <div class="logo">
                    <!-- <img src="../../../assets/img/mypic.png" class="responsive" alt="MitulSP"> -->
                </div>
            </div>
        </div>
    </div>
</section>