.contact {
    .contact-title {
        h3 {
            color: var(--skin-color);
            text-align: center;
            font-size: 25px;
            margin-bottom: 40px;
        }
        h4 {
            color: var(--skin-color);
            text-align: center;
            font-size: 22px;
        }
        .contact-info-item {
            align-items: center;
            justify-content: center;
            margin-bottom: 40px;
            .icon {
                text-align: center;
                border: 1px solid var(--skin-color);
                height: 50px;
                width: 50px;
                border-radius: 100%;
                margin: 15px auto;
                display: grid;
                align-items: center;
                transition: all 0.3s ease;
                .fa1 {
                    font-size: 22px;
                    color: var(--skin-color);
                    transition: all 0.3s ease;
                }
            }
            .icon:hover {
                border: 1px solid var(--bg-black-900);
                background-color: var(--skin-color);
                transform: scale(1.05);
                .fa1 {
                    font-size: 26px;
                    transform: scale(1.05);
                    color: var(--bg-black-900);
                }
            }
        }
        .form-group {
            .form-control {
                border-radius: 25px;
                background: var(--bg-black-100);
                border: 1px solid var(--bg-black-50);
                padding: 10px 25px;
                font-size: 16px;
                color: var(--text-black-700);
                transition: all 0.3s ease;
                margin: 10px auto;
            }
        }
        .form-item {
            .btn {
                border-radius: 25px;
                background: var(--skin-color);
                border: 1px solid var(--bg-black-50);
                padding: 10px 25px;
                font-size: 16px;
                color: var(--bg-black-900);
                margin: 0 100px auto;
                transition: all 0.3s ease;
            }
        }
    }
}
