.portfolio {
    .container {
        padding-bottom: 40px;
    }
    .portfolio-title {
        .pph {
            font-weight: 500;
            color: var(--text-black-900);
        }
    }
    .portfolio-item {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        .portfoli-info {
            border: 6px solid var(--bg-black-100);
            border-radius: 10px;
            overflow: hidden;
            cursor: pointer;
            text-align: center;
            img {
                height: 150px;
                width: -webkit-fill-available;
            }
        }
    }
}
