<section class="about section">
    <div class="container">
        <div class="row">
            <div class="section-title pl-15">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-content">
                <div class="row">
                    <div class="about-text">
                        <h3>I'M Mitulkumar Patel <span>(Software Developer)</span></h3>
                        <p>
                            I am a talented, ambitious and hardworking individual, with broad skills and experience in
                            Software development projects.

                            Furthermore, I am adept at handling multiple tasks on a daily basis competently and at
                            Working well under pressure.

                            A key strength is communication; building strong relationships with people in order to
                            Deliver the best results.

                            I am always looking to upgrade myself with trading and demanding technology

                            Recently, I completed a Data Science training program from internshala.com, and I am now
                            Looking for Data Science internship/job opportunity.

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 personal-info">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 personal-info">
                                <p>Email : <span>mitul.1315@gmail.com</span></p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 personal-info">
                                <p>Mobile : <span>(+91) 9904976798</span></p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 personal-info">
                                <p>Linkedin : <span>
                                        <a href="https://www.linkedin.com/in/mitulkumar-patel-0a803083/"
                                            target="_blank">Click here</a>
                                    </span>
                                </p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 personal-info">
                                <p>City : <span>Surat, Gujarat, India</span></p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 personal-info">
                                <p>Freelance : <span>Available</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 btns text-center">
                                <a href="javascript:void(0);" class="btn" (click)="fnDownalodResume(mycv.file)">Download
                                    CV</a>
                                <a routerLink="/Contact" class="btn">Hire Me</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 skill">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 skill-item">
                                <h5>HTML</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar"
                                        style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 skill-item">
                                <h5>CSS/SCSS</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar"
                                        style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 skill-item">
                                <h5>Bootstrap</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar"
                                        style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 skill-item">
                                <h5>Angular 6+</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar"
                                        style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 skill-item">
                                <h5>Devextreme Angular</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar"
                                        style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 skill-item">
                                <h5>TypeScript</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar"
                                        style="width: 89%;" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100">89%
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 skill-item">
                                <h5>React Native</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar"
                                        style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 skill-item">
                                <h5>GitLab/GitLab</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar"
                                        style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 skill">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 skill-item">
                                <h5>JavaScript</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar"
                                        style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 skill-item">
                                <h5>Testing and debugging</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar"
                                        style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 skill-item">
                                <h5>Data Recovery</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar"
                                        style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        100%
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 skill-item">
                                <h5>Chrome Developer Tools</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar"
                                        style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        100%
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 skill-item">
                                <h5>Core Java</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar"
                                        style="width: 38%;" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">38%
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 skill-item">
                                <h5>Computer Hardware/Networking</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar"
                                        style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 skill-item">
                                <h5>JSON</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar"
                                        style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 skill-item">
                                <h5>PHP</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar"
                                        style="width: 66%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">66%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 edu-exp">
                        <h3 class="title">Experience</h3>
                        <div class="card shadow-sm p-3 rounded">
                            <div class="card-body">
                                <div class="card-item">
                                    <div class="round-dot"></div>
                                    <h3 class="company-date">
                                        <i class="fa fa-calendar"></i> MARCH 2022 - PRESENT
                                    </h3>
                                    <h4 class="company-title">FREELANCER</h4>
                                    <p class="company-info">
                                        Experience in working with Angular V6 and then worked with Angular V8, V9 and
                                        V10+
                                        • Continuously looking for challenging projects and making them successful
                                        • For the last 6 months, I started working on Node.js + Express.js + MySQL for
                                        startups and
                                        another third-party person.
                                    </p>
                                </div>
                                <div class="card-item">
                                    <div class="round-dot"></div>
                                    <h3 class="company-date">
                                        <i class="fa fa-calendar"></i> JULY 2018 - FEBRUARY 2022
                                    </h3>
                                    <h4 class="company-title">BOTRECRUITS SOFTWARE PRIVATE LIMITED</h4>
                                    <p class="company-info">
                                        Worked as SOFTWARE DEVELOPER at BOTRECRUITS SOFTWARE PRIVATE LIMITED, Bangalore,
                                        Karnataka, India, from JULY 2018 to FEBRUARY 2022.
                                    </p>
                                </div>
                                <div class="card-item">
                                    <div class="round-dot"></div>
                                    <h3 class="company-date">
                                        <i class="fa fa-calendar"></i> JULY 2012 - JANUARY 2015
                                    </h3>
                                    <h4 class="company-title">NIVA TECHNO TRANSITION PVT.LTD</h4>
                                    <p class="company-info">Worked as HARDWARE & NETWORK ENGINEER at NIVA TECHNO
                                        TRANSITION PVT.LTD, Surat, Gujarat, India, from JULY 2012 to JANUARY 2015.</p>
                                </div>
                                <div class="card-item">
                                    <div class="round-dot"></div>
                                    <h3 class="company-date">
                                        <i class="fa fa-calendar"></i> AUGUST 2011 - APRIL 2012
                                    </h3>
                                    <h4 class="company-title">DREAMWORLD SOLUTIONS</h4>
                                    <p class="company-info">Worked as HARDWARE & NETWORK PROFESSIONAL at NIVA TECHNO
                                        TRANSITION PVT.LTD, Surat, Gujarat, India, from AUGUST 2011 to APRIL 2012.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 edu-exp">
                        <h3 class="title">Education</h3>
                        <div class="card shadow-sm p-3 rounded">
                            <div class="card-body">
                                <div class="card-item">
                                    <div class="round-dot"></div>
                                    <h3 class="company-date">
                                        <i class="fa fa-calendar"></i>May 2018
                                    </h3>
                                    <h4 class="company-title">BACHELORS OF COMPUTER APPLICATION</h4>
                                    <p class="company-info">
                                        Completed BACHELORS OF COMPUTER APPLICATION in May 2018 from Charusat
                                        University, Changa, Gujarat, India.
                                    </p>
                                </div>
                                <div class="card-item">
                                    <div class="round-dot"></div>
                                    <h3 class="company-date">
                                        <i class="fa fa-calendar"></i>Septembar 2011
                                    </h3>
                                    <h4 class="company-title">ADVANCE CERTIFIED HARDWARE AND NETWORKING PROFESSIONAL
                                    </h4>
                                    <p class="company-info">
                                        Completed ADVANCE CERTIFIED HARDWARE AND NETWORKING PROFESSIONAL in Septembar
                                        2011 from Indian Institutes of Handloom Technology, Surat, Gujarat, India.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>